page-call-executive {
    .excutiveDetList{
        margin-top: 20px;
        ion-card{
            margin: 0 15px 10px !important;
            width: calc(100% - 40px) !important;
            box-shadow: none !important;
            border: 1px solid #e9e8e8;
            padding: 20px;
            border-radius: 5px;
            ion-card-content{
                padding: 0px !important;
                .grid{
                    padding: 0px;
                    .row{
                        &.excNameRow{
                            border-bottom: 1px solid #f0eff0;
                            padding: 0 0 12px;
                            margin-bottom: 14px;
                        }
                        .col{
                            padding: 0px;
                            font-size: 11px;
                            color: #898989;
                            font-weight: bold;
                            text-transform: capitalize;
                            .exective-usericon{
                                float: left;
                                display: inline-block;
                                width: auto;
                            }
                            h3 {
                                font-size: 12px;
                                color: #898989;
                                margin: 0px;
                                font-weight: normal;
                            }
                            p {
                                font-size: 10px;
                                color: #6d6e71;
                                font-weight: bold;
                                margin: 4px 0 0 0;
                            }
                            .btnCall{
                                min-width: 65px;
                                padding: 0;
                                margin: 0 0 0 auto;
                                a{
                                    text-decoration: none !important;
                                    color: #fff !important;
                                }
                                .icon{
                                    margin-right: 5px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}
