page-terms-and-conditions {
    p {
        font-size: 12px;
        color: #262626;
        text-align: justify;
        line-height: 15px;
        margin-bottom: 20px;
    }
    p {
        text-indent: 20px;
    }
}
