page-view-account-tab {
    ion-header{
        margin-bottom: 0px !important;
        box-shadow: none;
        .toolbar{
            padding: 15px;
            .mahLogo{
                float: left;
            }
        }
    } 
}
