page-reset-password {
    .secured {
        -webkit-text-security: disc;
        -moz-text-security: disc;
        text-security: disc;
    }
    .unsecured{
        -webkit-text-security: none;
        -moz-text-security: none;
        text-security: none;
    }
    .pinheading-toppanel {
        text-align: center;
        padding-top: 25px;
        text-transform: capitalize;
        h6 {
            font-weight: bold;
            color: #262626;
            font-size: 14px;
            letter-spacing: 0.5px;
            margin: 0px;
        }
        span {
            color: #6c6d70;
            font-size: 14px;
            padding-top: 5px;
            display: block;
        }
    }
    .otp-input-box{
        max-width: 300px;
        margin: 25px auto 5px;
        .item{
            padding-left: 0px;
            
            .item-inner{
                padding-right: 0px;
                border: none;
                margin-bottom: 30px;
                .input-wrapper{
                    
                    .label{
                        margin-right: 0px;
                        text-transform: capitalize;
                        color: #6c6d70;
                        font-size: 14px;
                        padding-bottom: 10px;
                        text-align: center;
                    }
                    .input{
                        margin-right: 0px;
                        outline: none;                        
                        padding: 0 0 0 0px;
                        max-width: 234px;
                        margin-left: auto;
                        
                        border-bottom: none !important;
                        
                       
                        .text-input{
                            padding: 14px 0px 5px 17px;
                            
                            margin: 0 auto;
                            display: block;
                            letter-spacing: 36px;
                            color: #6c6d70;
                            background: url(../assets/imgs/otp-line.png) no-repeat 0 100%;
                        }
                    }
                }
            }
            
        }
        @media screen and (max-width:360px){
            .item{
                .item-inner{
                    margin-bottom: 15px;
                }
            }
        }
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        box-shadow: none;
    }
    .btnContinue{
        display: block;
        margin: 25px auto 0;
    }
    .btnView{
        height: 25px !important;
        font-size: 23px;
        min-width: 25px;
        padding: 0px !important;
        margin: 52px 0 0 0px !important;
        position: absolute;
        
        right: 33px;
        top: 0px;
    }
}
