page-set-pin {
    .pinheading-toppanel {
        text-align: center;
        padding-top: 25px;
        text-transform: capitalize;
        h6 {
            font-weight: bold;
            color: #262626;
            font-size: 14px;
            letter-spacing: 0.5px;
            margin: 0px;
        }
        span {
            color: #6c6d70;
            font-size: 14px;
            padding-top: 5px;
            display: block;
        }
    }
    .otp-input-box{
        max-width: 195px;
        margin: 25px auto 5px;
        .item{
            padding-left: 0px;
            .item-inner{
                padding-right: 0px;
                border-bottom: none !important;
                background: url(../assets/imgs/otp-line.png) no-repeat 0 100%;
                
                .input-wrapper{
                    .label{
                        margin-right: 0px;
                        text-transform: capitalize;
                        color: #6c6d70;
                        font-size: 14px;
                        padding-bottom: 10px;
                        text-align: center;
                    }
                    .input{
                        margin-right: 0px;
                        outline: none;
                        
                        padding: 0 0 0 0px;
                       
                        .text-input{
                            padding: 14px 0px 5px 15px;
                            max-width: 265px;
                            margin: 0 auto;
                            display: block;
                            letter-spacing: 35px;
                            color: #6c6d70;
                        }
                    }
                }
            }
            
        }
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        box-shadow: none;
    }


    /* .otp-input-box{        
        max-width: 190px;
        margin: 25px auto 5px;
        .item{
            padding-left: 0px;
            width:95%;
            .item-inner{
                padding-right: 0px;
                border-bottom: none !important;
                background: url(../assets/imgs/otp-line.png) no-repeat 0 100%;
                 
                .label{
                    margin-right: 0px;
                    text-transform: capitalize;
                    color: #6c6d70;
                    font-size: 14px;
                    padding-bottom: 10px;
                    text-align: center;
                }
                .input{
                    margin-right: 0px;
                    outline: none;
                    letter-spacing: 29px;
                    padding: 0 0 0 0px;
                   
                    .text-input{
                        
                       
                        padding: 14px 0px 5px 15px;
                        max-width: 185px;
                        margin: 0 auto;
                        display: block;
                        letter-spacing: 35px;
                        color: #6c6d70;
                    }
                }
            }
        }    
        
    } */

    .btnContinue{
        display: block;
        margin: 55px auto 0;
    }
    .btnView{
        height: 25px !important;
        font-size: 23px;
        min-width: 25px;
        padding: 0px !important;
        margin: 52px 0 0 0px !important;
    }
}
