<ion-content>
	<ion-card *ngFor="let account of loanAccountList">
		<ion-card-header>
			<h4>{{account.vehicle_model_name}}</h4>
			<h4>{{account.vehicle_registration_no}}</h4>
		</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col col-6 class="loadAmtSect">
						<p>{{'Loan Amount' | translate}} <br></p>
						<h3 style="margin-top: 8px !important;">₹ {{account.loan_amount}}</h3>
					</ion-col>
					<ion-col col-6>
						<p>{{'Outstanding EMI' | translate}} <br> {{'Amount' | translate}} <img src="assets/imgs/icons/icons-22.png" class="emi-pop" (click)="showCofirm()"></p>
						<h3>₹ {{account.outstanding_amount}}</h3>
					</ion-col>
				</ion-row>
			</ion-grid>
			<button ion-button color="dark" class="btnViewDet" (click)="gotoDetailsPage(account)">{{'View Loan Details' | translate}}</button>
		</ion-card-content>
	</ion-card>
	<ion-card *ngFor="let account of fdAccountList">
		<ion-card-header>
			<h4>{{account.account_category}}</h4>
			<h4>{{account.account_number}}</h4>
		</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col col-6 class="loadAmtSect">
						<p>{{'FD Amount' | translate}}</p>
						<h3>₹ {{account.investment_amount}}</h3>
					</ion-col>
					<ion-col col-6>
						<p>{{'Maturity Date' | translate}}</p>
						<h3>{{account.maturity_date | date : 'dd MMM yyyy'}}</h3>
					</ion-col>
				</ion-row>
			</ion-grid>
			<button ion-button color="dark" class="btnViewDet" (click)="gotoFDPage(account)">{{'View FD Details' | translate}}</button>
		</ion-card-content>
	</ion-card>
</ion-content>